{{define "popupChangePassword"}}
<div id="changePasswordPopup" class="popup">
  <div class="popup-content">

    <span class="close" onclick="closePopup('changePasswordPopup')">&times;</span>

    <h2>Change Password</h2>

    <form method="post">
 <div class ="showpass-log">
      <input id="currentPassword" class= "password" name="currentPassword" type="password" placeholder="Current Password" required>
      <button id="showpass-log" type="button" onclick="togglePassword('currentPassword')">👁</button>
      </div>
 <div class ="showpass-log">
      <input id="newPassword" class="password" name="newPassword" type="password" placeholder="New Password" required>
      <button id="showpass-log" type="button" onclick="togglePassword('newPassword')">👁</button>
 </div>
<div class ="showpass-log">
      <input id="confirmPassword" class="password" name="confirmPassword" type="password" placeholder="Confirm New Password" required>
      <button id="showpass-log" type="button" onclick="togglePassword('confirmPassword')">👁</button>
</div>
      {{if .ChangeError}}
        <p style="color:red; margin-top:10px; text-align:center;">{{.ChangeError}}</p>
      {{end}}

      <button type="submit" name="action" value="changePassword">Change Password</button>

    </form>
    </div>
  </div>
</div>
{{if .ChangeError}}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    openPopup("changePasswordPopup");
  });
</script>
{{end}}
{{end}}