<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>400 – Bad Request| Forum</title>

  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="/STATIC/CSS/errors.css" />
  <link rel="stylesheet" href="/STATIC/CSS/page404.css" />


</head>

<body>

  <main>
    <span class="float-icon">🍌</span>
    <span class="float-icon">🎮</span>
    <span class="float-icon">🎵</span>

    <div class="error-code">400</div>
    <div class="divider"></div>

    <h1>Bad Request</h1>

    <p>
      This discussion doesn't exist or has been removed.
      You may have followed an outdated link.
    </p>

    <div class="actions">
      <a href="/" class="btn-primary">Back to Home</a>
    </div>
  </main>

  <script src="/STATIC/JS/PopUp.js"></script>
</body>
</html>